//
//	VARIABLES
// ------------------------------------------------------

//font
$main-font: 'Montserrat', sans-serif;

// color
$color-main: #191932;
$color-light: lighten($color-main, 10%);
$color-text: #F22F41;
$color-text-light: lighten($color-main, 50%);

//container
$container-width: 1170px;
