//
//	LOGO SVG ANIMATION logo-1
// ------------------------------------------------------

.logo-1-c {
  fill: $color-text;
  &1 { animation-name: logo_1_c_1; }
  &2 { animation-name: logo_1_c_2; }
  &3 { animation-name: logo_1_c_3; }
  &4 { animation-name: logo_1_c_4; }
  &5 { animation-name: logo_1_c_5; }
  &6 { animation-name: logo_1_c_6; }
}

@keyframes logo_1_c_1 {
  30% { opacity: 0; }
  40% { opacity: 1; }
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes logo_1_c_2 {
  40% { opacity: 0; }
  50% { opacity: 1; }
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes logo_1_c_3 {
  50% { opacity: 0; }
  60% { opacity: 1; }
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes logo_1_c_4 {
  10% { opacity: 0; }
  20% { opacity: 1; }
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes logo_1_c_5 {
  20% { opacity: 0; }
  30% { opacity: 1; }
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes logo_1_c_6 {
  0% { opacity: 0; }
  10% { opacity: 1; }
  100% { opacity: 1; }
}

